.vs/TeducoreAppE/v15/Server/sqlite3/storage.ide-wal
.vs/TeducoreAppE/v15/Server/sqlite3/storage.ide-shm
.vs/TeducoreAppE/v15/Server/sqlite3/storage.ide
.vs/TeducoreAppE/v15/Server/sqlite3/db.lock
.vs/TeducoreAppE/v15/.suo
